workflows/n8n/nabil8855-workflows/83ERcIazvdO886If-RAIZ_Daily_Publisher_v2.json
{
  "name": "RAIZ Daily Publisher v2",
  "nodes": [
    {
      "id": "92514c08-d4a8-402f-a98a-ff4f2a4f01b4",
      "name": "Publisher Time Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "cb7f0f53-cab1-49b0-a3d2-638a5988d8f5",
      "name": "Golden Time Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ],
      "parameters": {
        "jsCode": "const allowed = new Set(['11:00','18:30']);\nconst parts = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Asia/Riyadh',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false\n}).formatToParts(new Date());\nconst hour = parts.find(p => p.type === 'hour')?.value || '00';\nconst minute = parts.find(p => p.type === 'minute')?.value || '00';\nconst current = hour + ':' + minute;\nif (!allowed.has(current)) return [];\nreturn [{ json: { golden_time_matched: true, current_riyadh_time: current, golden_publish_times: Array.from(allowed) } }];"
      }
    },
    {
      "id": "50a12cfc-2975-4bc2-8098-7bbab8816ff2",
      "name": "Read Rendered Inventory",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        96
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "authentication": "oAuth2",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1feNLjbK6jfYVAz6wofPIawwcth8BTLK-cvxu30zZAvE",
          "cachedResultName": "RAIZ Video Factory Control Sheet v1"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "VIDEOS_MASTER",
          "cachedResultName": "VIDEOS_MASTER"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "main_status",
              "lookupValue": "RENDERED"
            }
          ]
        },
        "combineFilters": "AND",
        "options": {
          "returnAllMatches": "returnAllMatches",
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      }
    },
    {
      "id": "ba9cbea6-996c-43bb-b9f6-244067dddbc4",
      "name": "Pick Next Rendered Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        96
      ],
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst unlocked = v => v === false || v === 0 || v === '' || v === null || String(v).trim().toUpperCase() === 'FALSE';\nconst ready = rows\n  .filter(r => String(r.main_status || '').trim().toUpperCase() === 'RENDERED')\n  .filter(r => unlocked(r.n8n_lock))\n  .sort((a,b) => Number(a.priority || 999) - Number(b.priority || 999));\nif (!ready.length) return [];\nreturn [{ json: { ...ready[0], next_stage: 'PUBLISH', youtube_runtime connection_required: true } }];"
      }
    },
    {
      "id": "cdbe159a-53f4-4529-bc82-98b70e3cc141",
      "name": "Build Publisher Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        96
      ],
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: {\n  video_id: item.json.video_id,\n  final_video_url: item.json.final_video_url || '',\n  youtube_upload_required: true,\n  message: 'YouTube OAuth is not configured yet. Add YouTube runtime connection before enabling upload.',\n  intended_privacy_status: 'private',\n  next_update: 'VIDEOS_MASTER main_status=UPLOADED and PUBLISHING row after upload'\n}}));"
      }
    },
    {
      "id": "ff1ce6de-5671-4ba6-8c3d-c94a9b1077ef",
      "name": "Manual Publisher Check",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "parameters": {}
    },
    {
      "id": "6ccd700f-1503-425d-b7c4-a588827c7ada",
      "name": "Sticky Note 9fd48447",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        256
      ],
      "parameters": {
        "content": {
          "config": {
            "name": "Publisher v2 Note",
            "parameters": {
              "content": "RAIZ Daily Publisher v2: checks every 30 minutes to support 11:00 and 18:30 Riyadh golden times. Actual YouTube upload is not connected yet.",
              "height": 220,
              "width": 720,
              "color": 6
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Publisher Time Check": {
      "main": [
        [
          {
            "node": "Golden Time Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Golden Time Gate": {
      "main": [
        [
          {
            "node": "Read Rendered Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Rendered Inventory": {
      "main": [
        [
          {
            "node": "Pick Next Rendered Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Next Rendered Video": {
      "main": [
        [
          {
            "node": "Build Publisher Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Publisher Check": {
      "main": [
        [
          {
            "node": "Golden Time Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  }
}
